[user]
	name = Dacheng Gao
	email = successgdc@gmail.com
[color]
    ui = true
    status = auto
[diff]
    tool = vimdiff
    algorithm = patience
[core]
    editor = nvim
    quotePath = false
    commitGraph = true
    excludesfile = ~/.gitignore.global
[init]
    templatedir =
    defaultBranch = master
[commit]
	gpgsign = false
[pull]
    ff = only
[push]
    default = simple
[merge]
    renamelimit = 2415
[tag]
	gpgsign = false
[gpg]
	format = openpgp
[alias]
    s = status --short
    co = checkout
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[receive]
    advertisePushOptions = true
    procReceiveRefs = refs/for
[gc]
    writeCommitGraph = true
[includeIf "gitdir:~/Repos/xxx/"]
    path = ~/.gitconfig.xxx
